# PuzzleOS
# Build your own web-based application
# (c) 2018

ErrorDocument 400 /400app
ErrorDocument 403 /404app
ErrorDocument 404 /404app

Options -Indexes

<FilesMatch "\.(txt|ini|log|php|htaccess|bak|json|offline|html|lock)$">
	Order Deny,Allow
	Deny from all
</FilesMatch>

<FilesMatch "\.(js|css|woff|woff2)$">
	Header set Cache-Control "max-age=2628000, public"
</FilesMatch>

<Files index.php>
	Order Allow,Deny
	Allow from all
</Files>

<Files robots.txt>
	Order Allow,Deny
	Allow from all
</Files>

#Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule mod_mime.c>
	AddType application/x-javascript .js
	AddType text/css .css
</IfModule>
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/plain text/xml application/javascript
	<IfModule mod_setenvif.c>
		BrowserMatch ^Mozilla/4 gzip-only-text/html
		BrowserMatch ^Mozilla/4.0[678] no-gzip
		BrowserMatch bMSIE !no-gzip !gzip-only-text/html
	</IfModule>
</IfModule>
Header append Vary User-Agent env=!dont-vary

#End of PuzzleOS configuration