[PuzzleApp]

; Rootname is the unique name of this application
; White space, and symbol character are not allowed
;
; Apps will be ignored if the rootname is exist, or doesn't match
; the requirement
;
; Rootname also will be the name of this apps in address bar
; e.g. http://mysite.com/some_apps
;
; rootname=some_apps
rootname=

; Title is the name of your application
; 
; title=My Awesome Apps
title=

; Give your application some description here
;
; description=My awesome apps help user to deliver best blog organizer
description=

; Set the permission control of your apps
;
; Permission is used wether your apps can be loaded or not based on
; user group level.
; 
; There are four types of permission
;
; Your app only visible to Superuser
; permission=0
;
; Your app visible to Employee and Superuser
; pesmission=1
;
; Your app visible to Registered User, Employee, and Superuser
; permission=2
;
; Your app visible to everyone including Guest
; permission=3
permission=

; Tell PuzzleOS if your application can be set as the default page or not
; 
; User can set this app as default app
; canBeDefault=1
;
; User cannot set this app as default app
; canBeDefault=0
canBeDefault=

; Specify the file of your App's services, if present
;
; Example:
; services=background.php,run.php,manage.php
services=

; Tell if your app have a widget with specific location
;
; Example: 
;	widget1.php will be located on "left"
;	widget2.php will be located on "custom_template_position"
;	widget3.php will be located on "somewhere"
; which can be loaded from template using
;	$tmpl->navigation->load("left");
;
; menus=widget1.php>left,widget2.php>custom_template_position,widget3.php>somewhere
menus=