<?php
/**
 * PuzzleOS
 * Build your own web-based applications
 * 
 * @desc  Define the main configuration files for this Software and Server
 */

/**
 * Define database credentials - only for MySQL
 */
POSConfigDB::$username = "%DB_USER%";
POSConfigDB::$password = "%DB_PASS%";
POSConfigDB::$host = "%DB_HOST%";
POSConfigDB::$database_name = "%DB_NAME%";

/**
 * Mailer Settings
 * Some SMTP Relayer doesn't allow to use fake email address
 */
POSConfigMailer::$From = "%MAIL_FROM%";
POSConfigMailer::$Sender = "%MAIL_SENDER%";
POSConfigMailer::$UsePHP = %MAIL_USEPHP%;

POSConfigMailer::$smtp_host = "%SMTP_HOST%";
POSConfigMailer::$smtp_username = "%SMTP_USER%";
POSConfigMailer::$smtp_password = "%SMTP_PASS%";
POSConfigMailer::$smtp_encryption = "%SMTP_ENCR%";
POSConfigMailer::$smtp_port = %SMTP_PORT%;
POSConfigMailer::$smtp_use_auth = %SMTP_AUTH%;
 
/**
 * Define the error report code for php
 */
POSConfigGlobal::$error_code = %ERR_CODE%;

/**
 * Define if server can server multidomain functionality
 */
POSConfigGlobal::$use_multidomain = %USE_MDM%;

/**
 * Additional Settings
 */
POSConfigGlobal::$default_language = "%LANG%";
POSConfigGlobal::$sitename = "%SITENAME%";
POSConfigGlobal::$timezone = "%TIMEZONE%";
POSConfigGlobal::$copyright = "%COPYRIGHT%";
POSConfigGlobal::$meta_description = "%META_DESC%";
?>